:root {
    --main-gray: #888888;
    --main-red: #FF0000;
}
button {
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Display an ellipsis (...) for text that overflows */
}
/*============================================= NavBar =====================*/
.navbar {
    background-color: var(--main-gray);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10px;
    height: 8vh;
    width: 100%;
}

.user-icon {
    position: absolute;
    top: 3%;


}
    .user-icon:hover {
        cursor: pointer;
    }

.byte-club>button {
    display: flex;
    background-color: black;
    color: white;
    text-decoration-color: white;
    height: 5vh;
    width: 195px;
    align-content: center;
    font-size: 2rem;
    /*padding-top: 5px;*/
}

.search-bar {
    display: flex;
    height: 7vh;
    width: 45vw;
    align-content: center;


}
    input {
        margin-top: 4px;
    }

.nav-btns {
    display: flex;
    align-content: center;
    font-size: 10px;
    padding-bottom:15px;
    justify-content: space-evenly;
}
.logout {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    /*height: 4vh;*/
    /*width: 8vw;*/
    /*margin: 4px;*/
    /*padding: 4px;*/

}

.login{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--main-red);
    /*height: 4vh;*/
    /*width: 8vw;*/
    /*margin: 4px;*/
    /*padding: 4px;*/
}

/*============================== INDEX ====================================*/
.singleAdCard {
    padding: 7px;
    margin: 7px;
    max-height: 25px;
}
.cardAd {
    text-decoration-color: white;
    background-color: black;
    max-width: 25%;
    padding: 10px;
    margin: 5px;
    border-radius: 45px;
    overflow: hidden;
    color: white;
    height: 200px;
    width: 350px;
    text-align: center;
}
.ultext{
    color: white;
    list-style: none;
}

ul {
    list-style: none;
    max-height: 100px;
}
.hero-page {
    background-image: url("/img/Byte club.jpg");
    background-position: center;
    color: white;
    height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
}
.photo-cover {
    background-color: black;
    margin: 50px;
}


/*============================= Register Page ==============================*/
.reg-background {
    background-color: var(--main-gray);
    margin: 60px;
    padding: 45px 0;

}

.reg-container {
    background-color: black;
    padding: 25px 120px;
    width: 85%
}

.reg-label {
    background-color: var(--main-gray);
    padding: 3px;
    margin: 0;
}

.title-bg {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    margin: 0 55px;
}

.title {
    font-size: 8rem;
    color: white;
}
.profilepic {
    max-width: 50em;
    margin: unset;
}
.profilecard {
    margin: unset;

}
/*================================== Login Page =====================*/

.login-title-bg {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    margin: 0 400px;
}


/*===========================edit ad and edit user ==============================*/
.jd-edit-container {
    background-color: black;
    border: var(--main-gray) 8px;
}

.jd-edit-row {

}

.jd-edit-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.jd-edit-h {
    color: #FF0000;
}

.jd-edit-input-box {
    color: grey;
}

/*===========================Cool button css ==============================*/
.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
}

.comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
}
.advertisement {
    background-color: black;
    color: white;
    text-align: center;
}

.comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}
