:root {
    --main-gray: #888888;
    --main-red: #FF0000;
}
/*============================================= NavBar =====================*/
.navbar {
    background-color: var(--main-gray);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10px;
    height: 8vh;
    width: 100%;
}

.user-icon {
    position: absolute;
    top: 3%;


}
    .user-icon:hover {
        cursor: pointer;
    }

.byte-club>button {
    display: flex;
    background-color: black;
    color: white;
    text-decoration-color: white;
    height: 5vh;
    width: 175px;
    align-content: center;
    font-size: 2rem;
    padding-top: 5px;
}

.search-bar {
    display: flex;
    height: 4vh;
    width: 45vw;
    align-content: center;


}
    input {
        margin-top: 4px;
    }

.nav-btns {
    display: flex;
}
.logout {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 4vh;
    width: 8vw;
    margin: 4px;
    padding: 4px;

}

.login{
    display: flex;
    justify-content: center;
    background-color: var(--main-red);
    height: 4vh;
    width: 8vw;
    margin: 4px;
    padding: 4px;
}

/*============================== Profile ====================================*/
.singleAdCard {
    padding: 7px;
    margin: 7px;
    max-height: 25px;
}
.cardAd {
    text-decoration-color: white;
    background-color: black;
    max-width: 25%;
}
.ultext{
    color: white;
    list-style: none;
}

ul {
    list-style: none;
    max-height: 100px;
}
.hero-page {
    background-image: url("/img/Byte club.jpg");
    background-position: center;
    color: white;
    height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
}
.photo-cover {
    background-color: black;
    margin: 50px;
}


/*============================= Register Page ==============================*/
.reg-background {
    background-color: var(--main-gray);
    margin: 60px;
    padding: 45px 0;

}

.reg-container {
    background-color: black;
    padding: 25px 120px;
    width: 85%
}

.reg-label {
    background-color: var(--main-gray);
    padding: 3px;
    margin: 0;
}

.title-bg {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    margin: 0 55px;
}

.title {
    font-size: 8rem;
    color: white;
}


